@keyframes shake{
    25%{
        transform:rotate(10deg);
        bottom:5px;
    }
    50%{
        transform:rotate(-20deg);
        bottom:10px;
    }
    100%{
        transform:rotate(10deg);
        bottom:0px;
    }
}