#pie-pagina{
    background: rgb(2, 167, 29);
    border: 2px solid rgb(0, 0, 0);
    padding-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    .planilla_footer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        h4:nth-child(1){ /* Horarios Tienda */
            grid-column:1/2;
            grid-row:1/2;
        }
        p:nth-child(2){ /* Lunes a Jueves */
            grid-column:2/3;
            grid-row:1/2;
        }
        p:nth-child(3){ /* Viernes y Sábado */
            grid-column:2/3;
            grid-row:2/3;
        }
        p:nth-child(4){ /* Horario largo */
            grid-column:3/4;
            grid-row:1/2;
        }
        p:nth-child(5){ /* Horario corto */
            grid-column:3/4;
            grid-row:2/3;
        }
        h4:nth-child(6){ /* Email de contacto */
            grid-column:1/2;
            grid-row:3/4;
        }
        p:nth-child(7){ /* email */
            grid-column:2/3;
            grid-row:3/4;
        }
        h4:nth-child(8){ /* direccion*/
            grid-column:1/2;
            grid-row:4/5;
        }
        p:nth-child(9){ /* santiago */
            grid-column:2/3;
            grid-row:4/5;
        }
    }
    img{
        height: 100%;
        width:auto;
    }
    a{
        height:25px;
        display:inline-block;
    }
    .banda_iconos{
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    .leaf_footer {
        background-color: rgb(151, 221, 45);
        margin: 0px;
        border-radius: 50px 0 50px 0;
        padding: 0px 20px; 
    }
    .leaf_footer:hover {
        background-color: rgba(96, 138, 33, 0.801);    
    }
}
@media screen and (max-width:992px){ 
    #pie-pagina .planilla_footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        p:nth-child(2){ /* Lunes a Jueves */
            grid-column:1/2;
            grid-row:2/3;
        }
        p:nth-child(3){ /* Viernes y Sábado */
            grid-column:1/2;
            grid-row:3/4;
        }
        p:nth-child(4){ /* Horario largo */
            grid-column:2/3;
            grid-row:2/3;
        }
        p:nth-child(5){ /* Horario corto */
            grid-column:2/3;
            grid-row:3/4;
        }
        h4:nth-child(6){ /* Email de contacto */
            grid-column:1/2;
            grid-row:4/5;
        }
        p:nth-child(7){ /* email */
            grid-column:2/3;
            grid-row:4/5;
        }
        h4:nth-child(8){ /* direccion*/
            grid-column:1/2;
            grid-row:5/6;
        }
        p:nth-child(9){ /* santaigo */
            grid-column:2/3;
            grid-row:5/6;
        }
    }
}
@media screen and (max-width: 768px) { /* La pantalla tablet */
    #pie-pagina{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        .redes_sociales{
            grid-row:1/2;
            grid-column: 2/3;
            display:flex;
            align-items: center;
            column-gap: 10px;
            .banda_iconos{
                justify-content: center;
                column-gap:10%;
            }
        }
        div:nth-child(1){
            justify-self:right;
            align-self: center;
            padding-right: 20px;
        }
        .planilla_footer{
            grid-row:2/3; /* ubicación en la grid padre -> Pie-pagina */
            grid-column:1/3; /* ubicación en la grid padre -> Pie-pagina */
            width:fit-content;
            align-self: center;
            justify-self: center;
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            h4:nth-child(1){ /* Horarios Tienda */
                grid-column:1/2;
                grid-row:1/2;
            }
            p:nth-child(2){ /* Lunes a Jueves */
                grid-column:1/2;
                grid-row:2/3;
            }
            p:nth-child(3){ /* Viernes y Sábado */
                grid-column:1/2;
                grid-row:3/4;
            }
            p:nth-child(4){ /* Horario largo */
                grid-column:2/3;
                grid-row:2/3;
            }
            p:nth-child(5){ /* Horario corto */
                grid-column:2/3;
                grid-row:3/4;
            }
            h4:nth-child(6){ /* Email de contacto */
                grid-column:1/2;
                grid-row:4/5;
            }
            p:nth-child(7){ /* email */
                grid-column:2/3;
                grid-row:4/5;
            }
            h4:nth-child(8){ /* direccion*/
                grid-column:1/2;
                grid-row:5/6;
            }
            p:nth-child(9){ /* santaigo */
                grid-column:2/3;
                grid-row:5/6;
            }
        }
    }
}
