#header{
    .banner {
        background-image: url(../imagenes/banner-wide.png); 
        height:156px;
    }
    nav{
        margin-bottom: 10px;
        font-weight: 900;

        .navbar-collapse{
            flex-grow: inherit;
        }
        .leaf {
            background-color: rgb(151, 221, 45);
            margin: 0px;
            border-radius: 50px 0 50px 0;
            padding: 10px 20px; 
            &:hover {
                background-color: rgba(96, 138, 33, 0.801);    
            }
        }
    }
    nav.bg-light{
        background-color:rgb(2, 167, 29) !important; // No está cambiando el color!!
    }
}

@media screen and (max-width: 768px) { /* La pantalla tablet */
    #header .menu{
        display:flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media screen and (max-width: 576px){
    #header .menu{
        margin: 20px 0 20px 0;
    }
}