main{
    margin-bottom: 50px;
    .principal {
        float:none;
        margin-bottom: 40px;
        p{
            color: $colorTexto2Index;
        }
        a {
            text-decoration: none;  
        }
        .foto1 {
            position: relative;
            width: 90%;
            height:30rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-image: url(../imagenes/foto-plantas-wide.jpg);
            background-position: center center;
            background-repeat:no-repeat;
            margin-bottom:40px; /* me separa el espacio luego la foto */
        }
        .texto-imagen{
            display:grid;
            width: 90%;
            margin:auto;
            grid-template-columns: 1fr 1fr;
            &__texto{
                text-align:left;
                margin: auto;
                padding-right:5%;
                a{
                    color:$colorTexto2Index;
                }
                h2{
                    position: relative;
                    left: 5%;
                    color:$colorTexto1Index;
                    /* background-color:black; */
                    display:inline-block;
                    font-size:32px;
                    max-width: 800px;
                }
                p{
                    position:relative;
                    left: 5%;
                    color:$colorTexto1Index;
                    /* background-color:black; */
                    display:inline-block;
                    font-size:24px;
                    max-width: 800px;    
                }
            }
            aside{
                display:flex;
                align-self: center;
                justify-content: center;
                .imagen-sidebar{
                    position:relative;
                    height:auto;
                    width:90%;
                }
            }
        }
    }
    .banda-miniaturas{ /* banda para trabajar las miniaturas */
        background-color:rgb(0, 128, 0);
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        font-family: 'Fredoka', sans-serif;
        padding:50px;
        row-gap: 50px;
        h2{
            font-size: 100px;
            color:rgb(255, 255, 255);
        }
        .miniaturas{ /* miniaturas de las plantas vistas en página main, subitem miniaturas-item */
            background-color:rgb(255, 192, 203);
            display:flex;
            flex-flow:row wrap; /* la direccion del flex será en filas y se ajustará en múltiples lineas */
            justify-content: space-evenly; /* los elementos estarán equiespaciados */
            align-items:center;
            width:80%;
            row-gap: 30px;
            padding:10px;
            .miniaturas-items{
                height: 400px;
                width:400px;
                border: 5px solid rgb(2, 167, 29);
                background-color: rgb(255, 255, 255);
                border-radius: 0 0 10% 0;
                text-align: center;
                &:hover{
                    border: 5px solid rgb(72, 104, 25);  
                    background-color: rgb(255, 255, 255);
                }
                a{
                    text-decoration: none;  
                }
                p{ /* Clase LEAF como arriba! */
                    position:relative;
                    bottom:30px;
                    left: 5px;
                    font-size:30px;
                    background-color: rgb(151, 221, 45);
                    margin: 0px;
                    border-radius: 50px 0 50px 0;
                    padding: 10px 20px; 
                    color:rgb(0, 0, 0);
                    font-weight: bolder;
                    &:hover {
                        background-color: rgb(72, 104, 25);  
                        color:rgb(255, 255, 255);  
                    }
                }
                img{
                    width:auto;
                    height:100%;
                }
            }
        }
    }
}
@media screen and (max-width:1400px){ 
    main .principal .texto-imagen .texto-imagen__texto{
        h2{font-size:24px;}
        p{font-size: 18px;}
    }
}
@media screen and (max-width:992px){ 
    main .principal .texto-imagen{
        display:flex;
        flex-direction: column;
        &__texto{
            margin-bottom: 30px;
            width: 70%;
        }
        aside .imagen-sidebar{
            width:70%;
        }
    }
    main .banda-miniaturas{
        row-gap:20px;
        div h2{
            font-size: 48px;
        }
    }
}
@media screen and (max-width: 768px) { /* La pantalla tablet */
    main .banda-miniaturas .miniaturas .miniaturas-items{
        height: 300px;
        width:300px;
        border: 5px solid rgb(2, 167, 29);
        background-color: rgb(255, 255, 255);
        border-radius: 0 0 10% 0;
        text-align: center;
        p{
            font-size: 24px;
        }
    }
}
@media screen and (max-width: 576px){
    main .principal .foto1{
        margin-bottom:10px;
    }
    main .principal .texto-imagen .texto-imagen__texto{
        h2{font-size:18px;}
        p{font-size: 14px;}
    }
}
