body main .banda-quienes_somos{
    display:flex;
    width: 90%;
    /* background-color: rgb(135, 235, 5); */
    margin:auto;
    flex-direction: column;
    h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .banda-direccion{
        display:flex;
        /*    width: 90%; */
        /* background-color: rgb(135, 235, 5); */
        margin:auto;
        flex-direction: column;
        padding: 50px 0px 50px 0px;
        justify-content: center;
    }
}
